@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');

body {
    /* Стиль из Figma: фон #0E0E10, шрифт Manrope */
    font-family: 'Manrope', sans-serif;
    background-color: #0E0E10;
    color: #EAEAEA;
}

/* Единый стиль кнопок из Figma */
.btn {
    @apply bg-white text-[#0E0E10] font-bold py-3 px-8 rounded-full hover:bg-gray-200 transition-colors duration-300 inline-flex items-center justify-center;
}

/* Класс для заголовков секций */
.section-title {
    /* Стиль из Figma: Manrope, ExtraBold (800), 64px, цвет #EAEAEA */
    @apply text-5xl md:text-6xl font-extrabold text-[#EAEAEA];
}